/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
important
_ide_helper.php
storage
.phpstorm.meta.php
.editorconfig

# Ignorer le contenu de storage mais garder les .gitkeep
/storage/*
!/storage/app
!/storage/framework
!/storage/framework/cache
!/storage/framework/cache/data
!/storage/framework/sessions
!/storage/framework/testing
!/storage/framework/views
!/storage/logs

# Ignorer le contenu de bootstrap/cache sauf le .gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
